{
	"ModInfo" : {
		"__type" : "ModInfo,Assembly-CSharp",
		"value" : {
			"id" : "SpecialAPI.AbominationMode",
			"name" : "Abomination Mode v1.1.0",
			"version" : "1.1.0",
			"description" : "Gives all enemies Abomination.\n\nGitHub repository: https://github.com/SpecialAPI/AbominationMode",
			"authors" : "157",
			"showIconOnMainMenu" : false
		}
	}
}